snippet fun "function"
	function ${1:function_name}(${2}) {
		${0:${VISUAL}}
	}
snippet if "if (condition) { ... }"
	if (${1:true}) {
		${0:${VISUAL}}
	}
snippet terr
	throw new Error('${1:error message}')
